# Python bytecode files
__pycache__/
*.py[cod]

# Virtual Environment directories
env/
venv/
ENV/
.venv/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Sensitive or environment configuration files (e.g., API keys, passwords)
*.env
